fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langgraph
mcp
langchain-mcp-adapters
pandas
requests
chromadb
sentence-transformers
langchain-huggingface
langchain-community
unstructured
pypdf
